@layer base {
    body {
        overflow-x: hidden;
        margin: 0;
        font-family: var(--font-primary);
    }

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        line-height: normal;
    }

    p {
        font-size: var(--font-size-md);
        font-weight: 400;
    }

    h1,
    .h1-style {
        font-size: 2.5rem; /* ≈ 40px */
        font-weight: 700;
        line-height: 1.15;
        margin: 0;
        padding: 0;
    }

    h2,
    .h2-style {
        font-size: 2rem; /* ≈ 32px */
        font-weight: 600;
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }

    h3,
    .h3-style {
        font-size: 1.75rem; /* ≈ 28px */
        font-weight: 600;
        line-height: 1.25;
        margin: 0;
        padding: 0;
    }

    h4,
    .h4-style {
        font-size: 1.5rem; /* ≈ 24px */
        font-weight: 600;
        line-height: 1.3;
        margin: 0;
        padding: 0;
    }

    h5,
    .h5-style {
        font-size: 1.25rem; /* ≈ 20px */
        font-weight: 600;
        line-height: 1.35;
        margin: 0;
        padding: 0;
    }

    h6,
    .h6-style {
        font-size: 1.125rem; /* ≈ 18px */
        font-weight: 600;
        line-height: 1.4;
        margin: 0;
        padding: 0;
    }
}