@layer base {

    @font-face {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src:
            url("../assets/fonts/Avenir/Avenir-Light.ttf") format("truetype");
    }

    @font-face {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src:
            url("../assets/fonts/Avenir/Avenir-Book.ttf") format("truetype");
    }

    @font-face {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src:
            url("../assets/fonts/Avenir/Avenir-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src:
            url("../assets/fonts/Avenir/Avenir-Heavy.ttf") format("truetype");
    }

    @font-face {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src:
            url("../assets/fonts/Avenir/Avenir-Black.ttf") format("truetype");
    }
}
