@layer utilities {
    .max-container {
        max-width: var(--max-width-container);
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-bg {
        /* Image de fond + dégradé noir -> transparent */
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
            url("../assets/img/PHOTO 1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}