@layer utilities {
    .max-container {
        max-width: var(--max-width-container);
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-bg {
        position: relative;
        isolation: isolate;
    }

    .hero-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image:
            url("../assets/img/PHOTO 1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }

    .marquee {
        position: relative;
    }

    .marquee::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        z-index: 10;
        background: linear-gradient(to right, white, transparent);
    }

    .marquee::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        z-index: 10;
        background: linear-gradient(to left, white, transparent);
    }

    .corner-left {
        position: relative;
    }

    .corner-left::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: 20%;
        height: calc(100% + 20px);
        background-color: var(--color-primary-1);
        z-index: -1;
    }

    .corner-left::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -10px;
        width: 85%;
        height: 50%;
        background-color: var(--color-primary-1);
        z-index: -1;
    }

    .corner-right {
        position: relative;
    }

    .corner-right::before {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20%;
        height: calc(100% + 20px);
        background-color: var(--color-primary-1);
        z-index: -1;
    }

    .corner-right::after {
        content: "";
        position: absolute;
        bottom: -10px;
        right: -10px;
        width: 85%;
        height: 50%;
        background-color: var(--color-primary-1);
        z-index: -1;
    }

    .corner-both-sides {
        position: relative;
    }

    .corner-both-sides::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 35px;
        height: 35px;
        background-color: var(--color-primary-1);
        z-index: -1;
    }

    .corner-both-sides::after {
        content: "";
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 35px;
        height: 35px;
        background-color: var(--color-primary-1);
        z-index: -1;
    }

    .corner-both-sides.corner-both-sides--secondary-1::before {
        background-color: var(--color-secondary-1);
        z-index: 0;
    }

    .corner-both-sides.corner-both-sides--secondary-1::after {
        background-color: var(--color-secondary-1);
        z-index: 0;
    }

    .corner-both-sides.corner-both-sides--larger::before {
        top: -10px;
        left: -10px;
        width: 30%;
        height: 20%;
    }

    .corner-both-sides.corner-both-sides--larger::after {
        bottom: -10px;
        right: -10px;
        width: 30%;
        height: 20%;
    }

    .list-marker-secondary-1 li::marker {
        color: var(--color-secondary-1);
    }

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: var(--color-primary-1) var(--color-primary-1) transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after,
      .loader::before {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent var(--color-secondary-1) var(--color-secondary-1);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
      }
      .loader::before {
        width: 32px;
        height: 32px;
        border-color: var(--color-primary-1) var(--color-primary-1) transparent transparent;
        animation: rotation 1.5s linear infinite;
      }
          
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
          
}