@layer utilities {
    .max-container {
        max-width: var(--max-width-container);
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-bg {
        /* Image de fond + dégradé noir -> transparent */
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
            url("../assets/img/PHOTO 1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .marquee {
        position: relative;
    }

    .marquee::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        z-index: 10;
        background: linear-gradient(to right, white, transparent);
    }

    .marquee::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        z-index: 10;
        background: linear-gradient(to left, white, transparent);
    }
}