@theme {
    /* Colors */

    /*primary: vert, secondary: orange, tertiary: rouge*/
    --color-primary-1: #8cc63f;
    --color-secondary-1: #ff590d;
    --color-tertiary-1: #bc2729;

    /*Font family*/
    --font-avenir: "Avenir", sans-serif;
    --font-primary: var(--font-avenir);

    /*Font sizes*/
    /* xl: ~32px, lg: ~24px, md: 16px (base), sm: 14px, xs: 12px */
    --font-size-xl: 2rem;
    --font-size-lg: 1.5rem;
    --font-size-md: 1.3rem;
    --font-size-sm: 1rem;
    --font-size-xs: 0.875rem;

    /*Containers*/
    --max-width-container: 1440px;

    /* Spacing */
    --spacing-xl: 160px;
    --spacing-lg: 120px;
    --spacing-md: 80px;
    --spacing-sm: 64px;
    --spacing-xs: 32px;
    --spacing-xxs: 20px;
}