# Activer le moteur de réécriture
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://ngelparis.com/$1 [L,R=301]

# Permettre l'accès aux fichiers statiques
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Forcer l'utilisation de index.html
DirectoryIndex index.html

# Définir le type MIME correct pour les fichiers JS
AddType application/javascript .js
AddType application/json .json

# Activer la compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>

# Cache control
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>
